@font-face {
  font-family: chp-fire;
  src: url('./Assets/chp-fire.ttf');
}

.App {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e6e6e6; /* For browsers that do not support gradients */
  background-image: linear-gradient(#8c0e1c, #f7b602);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width:100vw;
  height:100vh;
  color: black;
}

.spltitle {
  color: black;
  font-size: 5vw;
  font-family: 'chp-fire';
}
.navbar {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.title {
  position: absolute;
  left: 39%;
  color: black;
  font-size: 5vw;
  font-family: 'chp-fire';
}

.logo {
  width: 10%;
  height: 10%;
}

.navbar-toggler {
  background-color: black;
}

.navbar-toggler-icon{
padding: 10%;
}


.table {
  caption-side: top;
  text-align: center;
  font-weight: bold;
  font-size: 1.25vw;
  text-align: center;
  padding: 16px;
  }

.tbl {
  overflow-y: auto;
  height: 68vh;
}

.caption {
  text-align: center;
  font-size: 3vw;
  color: black;
  font-weight: bolder;
  position: sticky;
  top: 0;
}

Table th{
  border: 2px black solid;
  background-color: #ff0000;
  color: black;
  position: sticky;
  top: 0;
  padding-top: 0;
  margin-top: 0;
}
Table td{
  border: 1px black solid;
}

tr:nth-child(odd) {
  background-color: #8c8c8c;
  }

tr:nth-child(even) {
  background-color: #e6e6e6;
}

.container {
  width: 100%;
  height:100%;
}

.col-md-9 {
  width: 99%;
}

.image {
  width: 100%;
  max-width: 100px;
  height: auto;
}
.upimage {
  width: 100px;
  height: 100px;
}

.delete {
  background-color: black;
  font-weight: bold;
  padding: 1px 3px;
  color: #ff0000
}

.edit {
  background-color: black;
  font-weight: bold;
  color: #f7b602;
  padding: 1px 3px;
}

.navbtn {
  position: absolute;
  left: 42%;
  bottom: 0;
}
.logout {
  background-color: black;
  font-weight: bold;
  color: #ff0000;
  padding: 1px 3px;
}

.create {
  background-color: black;
  font-weight: bold;
  color: #f7b602;
  padding: 1px 3px;
}

.close {
  background-color: black;
  font-weight: bold;
  color: #ff0000;
  padding: 1px 3px;
}

.update {
  background-color: black;
  font-weight: bold;
  color: #f7b602;
  padding: 1px 3px;
}

.signup {
  background-color: black;
  font-weight: bold;
  color: #ff0000;
  padding: 1px 3px;
}

.login {
  background-color: black;
  font-weight: bold;
  color: #ff0000;
  padding: 1px 3px;
}